<h1>Listing creditors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @creditors.each do |creditor| %>
      <tr>
        <td><%= creditor.name %></td>
        <td><%= creditor.amount %></td>
        <td><%= creditor.description %></td>
        <td><%= link_to 'Show', creditor %></td>
        <td><%= link_to 'Edit', edit_creditor_path(creditor) %></td>
        <td><%= link_to 'Destroy', creditor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creditor', new_creditor_path %>
