<%= link_to 'New Creditor', new_creditor_path, :class => "btn btn-success pull-right"%>
<h1>Creditors</h1>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @creditors.each do |creditor| %>
      <tr>
        <td><%= creditor.name %></td>
        <td><%= creditor.amount %></td>
        <td style="max-width: 200px;"><%= creditor.description %></td>
        <td><%= link_to 'Show', creditor, :class => "btn btn-info" %>
        <%= link_to 'Edit', edit_creditor_path(creditor) , :class => "btn btn-primary"%>
        <%= link_to 'Destroy', creditor, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


