<%= link_to 'New Expense', new_expense_path  , :class => "btn btn-success pull-right"%>
<h1>My Expenses</h1>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Description</th>
      <th>Category</th>
      <th>Expense on</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.amount %></td>
        <td style="max-width: 200px;"><%= expense.description %></td>
        <td><%= expense.category.name %></td>
        <td><%= expense.date %></td>
        <td><%= link_to 'Show', expense , :class => "btn btn-info" %>
        <%= link_to 'Edit', edit_expense_path(expense), :class => "btn btn-primary" %>
        <%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
